// import shared resources
// [*] ignore name spacing for variables

@use '../base' as *;

.navBar{
  // background-color: red;
  position: fixed;
  width: 100%;
  top: 0;
  height: 110px;
  border-bottom: solid 1px #C4C4C4;
  margin-bottom: 5em;
  z-index: 100;
  /*
  Blue banner styles
  -------------------*/
  .blue-banner{
    width: 100%;
    height: 40px;
    background-color: $light-blue;
  }

  // menu styles
  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
    background-color: white;
    // media query for menu items
    @media only screen and (max-width: 600px){
      & {
        padding: 0;
        margin: 0;

        .search-box {
          border: none;
        }
      }
    } 

  
    // styles for select mentor box
    // .search-box{
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;

    //   width: 200px;
    //   height: 40px;
    //   border: 1px solid #748FFF;
    //   background-color: white;

    //   color: $dark-color;
    //   border-radius: 1em;
    //   cursor: pointer;
      
    //   // add style to caretdown symbol
    //   #icon{
    //     margin-left: .5em;
    //   }
    //   // hover effect for mentor select box
    //   &:hover{
    //     background-color: #748FFF;
    //     color: white;
    //   }

    //  }
    #my-input {
       position: relative;
       background-color: white;
       width: 200px;
       height: 40px;
       outline: none;
       border: 1px solid $dark-color;
       border-radius: 1em;
       text-align: center;
       font-weight: 600;
       transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
       &:hover{
         background-color: $deep-blue;
         color: $light;
         cursor: pointer;
       }
    }

    #icon {
      position: absolute;
      top: 4em;
      margin-left: -2em;
      color: $dark-color;
    }
     
    ul {
      display: flex;
      margin: 0;
      padding: 0;   
    }
    ul li {
      list-style: none;
      margin: 1em; 
    }
  } // end menu styling
}