@use '../base' as *;

h1,h2,h3,h4,h5,li,ul {
  margin: 0;
}
.mentor-container{
  display: flex;
  justify-content: center;
  gap: 5em;
  padding: 1em;
  height: 120px;
  width: 50em;
  align-items: center;
  background-color: $light;
  margin: 2em auto;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  

  .image-container {
    display: flex;
    width: 2em;
    justify-content: center;
    background-color: $deep-blue;
  }

  // .mentor-picture {
  //   width: 100px;
  //   height: 120px;
  //   border-radius: 50%;
  //   margin-left: 2.5em;
  // }
  .mentor-details {
    line-height: 1.2;
    h4 {
      font-weight: 700;
      font-size: 36px;
      color:$deep-blue
    }
    #bio {
      font-weight: 700;
      font-size: 1.5em;
      color: $dark-color;
      margin-right: .2em;
    }
    #uni {
      font-weight: 700;
      color: $dark-color;
      margin-right: .2em;
      font-size: 1.5em;
    }
  }
  @media only screen and (max-width: 600px) {
    & {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2em;
      height: auto;
      width: 12em;
      border-radius: 1em;

     .mentor-picture {
       display: flex;
       width: 120px;
       height: 150px;
       justify-content: center;
       margin: 0;
     }
    }
  }
}