.header {
  border-bottom: 0.5px solid #c4c4c4;
  nav {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px 20px;
  }
  .btns {
    align-self: flex-end;
    display: flex;
    gap: 10px 40px;
  }
  .btn {
    margin: 10px;
  }
}
