@use './base' as *;

h1,h2,h3,h4,h5,li,ul {
  margin: 0;
}
.registration{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  margin: 2em auto;
  // background-color: $light;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  
  .title {
    color: $light-blue;
    margin-bottom: 1em;
  }

  & div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    label {
      margin-bottom: 1em;
      color: $dark-color;
    }
    input{
      margin-left: 1em;
      width: 35em;
      height: 2.5em;
      font-weight: 700;
      padding: .5em;
      outline: none;
      border-radius: 1em;
      color: $deep-blue;
      border: 1px solid $light-blue;
    }
  }
  span {
    color: $green
  }

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $light-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-switch {
  display: flex;
  color: $light-blue;
  flex-direction: row;
  h3{
    margin-left: 1em;
  }
}


}